In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import WebDriverException
from selenium.common.exceptions import InvalidArgumentException
from selenium.common.exceptions import TimeoutException

## Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
# Activating the Chrome
driver = webdriver.Chrome()
# Open the requested URL
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
# Scrape the following details
rank = []
name = []
artist = []
upload_date = []
views = []

ranking = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in ranking:    
    rank.append(i.text)
names = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for j in names:
    name.append(j.text.split("[")[0].strip())
art = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for k in art:
    artist.append(k.text)
upload = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for l in upload:
    upload_date.append(l.text)
view = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]') 
for m in view:
    views.append(m.text)

#Saving in data frame
df = pd.DataFrame({"Rank":rank[0:30],"Name":name[0:30],"Artist":artist[0:30],"Upload date":upload_date[0:30],"Views":views[0:30]})
df

,Rank,Name,Artist,Upload date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.48
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",8.28
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.82
3,4.,"""Bath Song""",Cocomelon - Nursery Rhymes,"May 2, 2018",6.45
4,5.,"""Shape of You""",Ed Sheeran,"January 30, 2017",6.11
5,6.,"""See You Again""",Wiz Khalifa,"April 6, 2015",6.05
6,7.,"""Wheels on the Bus""",Cocomelon - Nursery Rhymes,"May 24, 2018",5.62
7,8.,"""Phonics Song with Two Words""",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.52
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",5.05
9,10.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.99
10,11.,"""Gangnam Style""",officialpsy,"July 15, 2012",4.92
11,12.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""",Ultra Records,"April 5, 2018",4.46
13,14.,"""Axel F""",Crazy Frog,"June 16, 2009",4.09
14,15.,"""Sugar""",Maroon 5,"January 14, 2015",3.95
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.89
16,17.,"""Roar""",Katy Perry,"September 5, 2013",3.89
17,18.,"""Baa Baa Black Sheep""",Cocomelon - Nursery Rhymes,"June 25, 2018",3.80
18,19.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.75
19,20.,"""Sorry""",Justin Bieber,"October 22, 2015",3.72
20,21.,"""Lakdi Ki Kathi""",Jingle Toons,"June 14, 2018",3.71
21,22.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.67
22,23.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.60
23,24.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.58
24,25.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.56
25,26.,"""Let Her Go""",Passenger,"July 25, 2012",3.53
26,27.,"""Faded""",Alan Walker,"December 3, 2015",3.53
27,28.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.50
28,29.,"""Shree Hanuman Chalisa""",T-Series Bhakti Sagar,"May 10, 2011",3.48
29,30.,"""Lean On""",Major Lazer Official,"March 22, 2015",3.48

In [3]:
driver.close()

## Question 2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [9]:
# Activating the Chrome
driver = webdriver.Chrome()
# Open the requested URL
driver.get("https://www.bcci.tv/.")
#Close the pop-up window
close = driver.find_element(By.XPATH,'//button[@class="close-button page-close"]')
close.click()
#Maximize the window
driver.maximize_window()
#reach to international fixture page
fixture = driver.find_element(By.XPATH,'//div[@id="imw-international-men"]/a[2]')
fixture.click()

In [11]:
#click on "All teams" dropdown
drop = driver.find_element(By.XPATH,'(//div[@ng-click="cSBShowList($event)"])[1]')
drop.click()
#find India
find = driver.find_element(By.XPATH,'//input[@ng-model="cSBTeamsListSearch"]')
find.send_keys("India")
result = driver.find_element(By.XPATH,'(//div[@ng-click="resultsfilterByTeam(list,\'Upcoming\')"])[1]')
result.click()
#scrape following details
series = []
place = []
date = []
time = []
serie = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in serie:
    series.append(i.text)
places = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for j in places:
    place.append(j.text)
dates = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')    
for k in dates:
    date.append(k.text)
times = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for l in times:
    time.append(l.text)
#saving in dataframe
df = pd.DataFrame({"Series":series,"Place":place,"Date":date,"Time":time})
df

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",2:00 PM IST
1,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad","14 OCTOBER, 2023",2:00 PM IST
2,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi","11 OCTOBER, 2023",2:00 PM IST
3,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai","8 OCTOBER, 2023",2:00 PM IST
4,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",2:00 PM IST
...,...,...,...,...
105,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","8 SEPTEMBER, 2022",7:30 PM IST
106,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","6 SEPTEMBER, 2022",7:30 PM IST
107,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","4 SEPTEMBER, 2022",7:30 PM IST
108,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",7:30 PM IST
109,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",7:30 PM IST

In [12]:
driver.close()

## Question 3 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [14]:
# Activating the Chrome
driver = webdriver.Firefox()
# Open the requested URL
driver.get("http://statisticstimes.com/")
# go to economy page
page = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
page.click()
# go to India
go = driver.find_element(By.XPATH,'//a[@href="economy/india-statistics.php"]')
go.click()
#find GDP of Indian states
find = driver.find_element(By.XPATH,'//a[@href="india/indian-states-gdp.php"]')
find.click()
#Scraping following details
rank = []
state = []
gsdp_18 = []
gsdp_19 = []
share = []
gdp = []

ranks = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
for i in ranks:
    rank.append(i.text)
states = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
for j in states:
    state.append(j.text)
gsdp_18_19 = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
for k in gsdp_18_19:
    gsdp_18.append(k.text)
gsdp_19_20 = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
for l in gsdp_19_20:
    gsdp_19.append(l.text)
shares = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
for m in shares:
    share.append(m.text)
gdps = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
for n in gdps:
    gdp.append(n.text)
df = pd.DataFrame({"Rank":rank,"State":state,"GSDP(18-19)- at current prices":gsdp_18,"GSDP(19-20)- at current prices":gsdp_19,"Share(18-19)":share,"GDP($ billion)":gdp})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [15]:
driver.close()

## Question 4 - Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [29]:
# Activating the Chrome
driver = webdriver.Chrome()
# Open the requested URL
driver.get("https://github.com/")
#go to trending option
open_1 = driver.find_element(By.XPATH,'(//button[@type="button"])[5]')
open_1.click()
trend = driver.find_element(By.XPATH,'//a[@href="/trending"]')
trend.click()

In [43]:
#scraping below details
title = []
desc = []
count = []
lang = []
titles = driver.find_elements(By.XPATH, '//h2[@class="h3 lh-condensed"]')
for a in titles:
    try:
        title.append(a.text)
    except NoSuchElementException:
        title.append('-')
counts = driver.find_elements(By.XPATH, '//a[@class="Link Link--muted d-inline-block mr-3"][2]')
for b in counts:
    try:
        count.append(b.text)
    except NoSuchElementException:
        count.append('-')
#Scraping all urls
urls = []
url_element = driver.find_elements(By.XPATH, '//h2/a')
for url in url_element:
    urls.append(url.get_attribute('href'))
for a_1 in urls:
    driver.get(a_1)
    try:
        description = driver.find_element(By.XPATH, '//p[@class="f4 my-3"]')
        desc.append(description.text)
    except NoSuchElementException:
        desc.append('-')
    try:
        language = driver.find_element(By.XPATH, '(//span[@class="color-fg-default text-bold mr-1"])[1]')
        lang.append(language.text)
    except NoSuchElementException:
        lang.append('-')
#saving data in DataFrame
df = pd.DataFrame({'Repository title': title,'Repository description': desc,'Contributors count': count,'Language used': lang})
df

,Repository title,Repository description,Contributors count,Language used
0,NVIDIA / TensorRT-LLM,TensorRT-LLM provides users with an easy-to-us...,68,C++
1,localsend / localsend,An open source cross-platform alternative to A...,889,Dart
2,OpenBMB / XAgent,An Autonomous LLM Agent for Complex Task Solving,175,TypeScript
3,WisdomShell / codeshell,A series of code large language models develop...,37,Python
4,WisdomShell / codeshell-vscode,An intelligent coding assistant plugin for Vis...,23,TypeScript
5,neuralmagic / deepsparse,Sparsity-aware deep learning inference runtime...,109,Python
6,Planetary-Computers / autotab-starter,Build browser agents for real world tasks,19,Python
7,ByteByteGoHq / system-design-101,Explain complex systems using visuals and simp...,"1,700",-
8,cloudcommunity / Free-Certifications,A curated list of free courses & certifications.,887,-
9,danieldonda / Cybersecurity101,Um guia abrangente para iniciantes na área de ...,11,-
10,imartinez / privateGPT,Interact with your documents using the power o...,"5,134",Python
11,radius-project / radius,"Radius is a cloud-native, portable application...",17,Go
12,ionic-team / ionic-framework,A powerful cross-platform UI toolkit for build...,"13,690",TypeScript
13,slowmist / SlowMist-Learning-Roadmap-for-Becom...,Smart contract audit skills roadmap for beginn...,26,-
14,e2b-dev / awesome-ai-agents,A list of AI autonomous agents,156,-
15,felipemotarocha / fullstackweek-store,-,30,TypeScript
16,AntonOsika / gpt-engineer,"Specify what you want it to build, the AI asks...","7,363",Python
17,commaai / openpilot,openpilot is an open source driver assistance ...,"7,781",Python
18,apexcharts / apexcharts.js,📊 Interactive JavaScript Charts built on SVG,"1,206",JavaScript
19,TheRealJoelmatic / RemoveAdblockThing,"Removes The ""Ad blocker are not allowed on You...",68,JavaScript
20,thuml / Time-Series-Library,A Library for Advanced Deep Time Series Models.,360,Shell
21,danielgross / localpilot,-,84,Python
22,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,"4,792",Python
23,cloudflare / workers-sdk,"⛅️ Home to Wrangler, the CLI for Cloudflare Wo...",384,TypeScript
24,hashicorp / terraform-provider-aws,Terraform AWS provider,"8,392",Go

In [44]:
driver.close()

## Question 5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [45]:
# Activating the Chrome
driver = webdriver.Firefox()
# Open the requested URL
driver.get("https:/www.billboard.com/")
#click on top 100 songs on billiboard
songs = driver.find_element(By.XPATH,'(//a[@href="https://www.billboard.com/charts/hot-100/"])[1]')
songs.click()
#scraping below requested details
song = []
artist = []
last = []
peak = []
week = []
songs = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
for a in songs:
    song.append(a.text)
artists = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[1]/span')  
for b in artists:
    artist.append(b.text)
lasts = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[4]/span')
for c in lasts:
    last.append(c.text)
peaks = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[5]/span')
for d in peaks:
    peak.append(d.text)
weeks = driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li[6]/span')
for e in weeks:
    week.append(e.text)
#save in dataframe
df = pd.DataFrame({"Song name":song,"Artist name":artist,"Last week rank":last,"Peak rank":peak,"Weeks on board":week})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,First Person Shooter,Drake Featuring J. Cole,-,1,1
1,IDGAF,Drake Featuring Yeat,-,2,1
2,Virginia Beach,Drake,-,3,1
3,Paint The Town Red,Doja Cat,1,1,10
4,Calling For You,Drake Featuring 21 Savage,-,5,1
...,...,...,...,...,...
95,God Gave Me A Girl,Russell Dickerson,90,90,2
96,Y Lloro,Junior H,-,97,1
97,Telekinesis,Travis Scott Featuring SZA & Future,72,26,11
98,Seven,Jung Kook Featuring Latto,57,1,13
99,Stars Like Confetti,Dustin Lynch,89,89,2

In [46]:
driver.close()

## Question 6 Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [47]:
# Activating the Chrome
driver = webdriver.Firefox()
# Open the requested URL
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
#scraping following details
name = []
author = []
volume = []
publish = []
genre = []
names = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
for a in names:
    name.append(a.text)
authors = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')  
for b in authors:
    author.append(b.text)
volumes = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')    
for c in volumes:
    volume.append(c.text)
publishes = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]') 
for d in publishes:
    publish.append(d.text)
genres = driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
for e in genres:
    genre.append(e.text)
#saving in dataframe
df = pd.DataFrame({"Book name":name,"Author name":author,"Volumes sold":volume,"Publisher":publish,"Genre":genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [48]:
driver.close()

## Question 7 Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [49]:
# Activating the Chrome
driver = webdriver.Firefox()
# Open the requested URL
driver.get("https://www.imdb.com/list/ls095964455/")
#scraping following details
name = []
span = []
genre = []
time = []
rating = []
vote = []
names = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/a')
for a in names:
    name.append(a.text)
spans = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/h3/span[2]')
for b in spans:
    span.append(b.text)
genres = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[5]')
for c in genres:
    genre.append(c.text)
times = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p/span[3]') 
for d in times:
    time.append(d.text)
ratings = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/div/div[1]/span[2]')
for e in ratings:
    rating.append(e.text)
votes = driver.find_elements(By.XPATH,'//div[@class="lister-list"]/div/div[2]/p[4]/span[2]')
for f in votes:
    vote.append(f.text)
#saving in dataframe
df = pd.DataFrame({"Name":name,"Year span":span,"Genre":genre,"Run time":time,"Ratings":rating,"Votes":vote})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,213,900"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,283,589"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,050,605"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,676"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,615"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,970"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,033"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,964"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,120"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"270,502"

In [50]:
driver.close()

## Question 8 - Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [91]:
# Activating the Chrome
driver = webdriver.Chrome()
# Open the requested URL
driver.get("https://archive.ics.uci.edu/")
driver.maximize_window()
#go to dataset
dataset = driver.find_element(By.XPATH,'(//a[@href="/datasets"])[2]')
dataset.click()
#close unwanted pop-up
close = driver.find_element(By.XPATH,'//div[@class="alert fixed bottom-0"]/div[2]/button')
close.click()

In [92]:
import time
urls = []
while True:
    # Scrape dataset URLs from the current page
    url_elements = driver.find_elements(By.XPATH, '//a[@class="link-hover link text-xl font-semibold"]')
    for element in url_elements:
        urls.append(element.get_attribute('href'))
    try:
        next_button = driver.find_element(By.XPATH, '//div[@class="btn-group"]/button[2]')     
        next_button.click()
        time.sleep(5)
    except ElementClickInterceptedException:
        break

In [94]:
# Scrape dataset details
name = []
type_1 = []
task = []
attribute = []
no_1 = []
no_attribute = []
year = []
final_years = []

for url in urls:
    driver.get(url)

    try:
        names = driver.find_element(By.XPATH, '(//div[@class="flex items-center gap-4"])[1]')
        name.append(names.text)
    except NoSuchElementException:
        name.append('-')
    try:
        types = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        type_1.append(types.text)
    except NoSuchElementException:
        type_1.append('-')
    try:
        tasks = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        task.append(tasks.text)
    except NoSuchElementException:
        task.append('-')
    try:
        attributes = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        attribute.append(attributes.text)
    except NoSuchElementException:
        attribute.append('-')
    try:
        nos = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        no_1.append(nos.text)
    except NoSuchElementException:
        no_1.append('-')
    try:
        no_attributes = driver.find_element(By.XPATH, '//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        no_attribute.append(no_attributes.text)
    except NoSuchElementException:
        no_attribute.append('-')
    try:
        years = driver.find_element(By.XPATH, '//h2[@class="text-sm text-primary-content"]')
        year.append(years.text)               
    except NoSuchElementException:
        year.append('-')
#Replacing "Donated on" to ''
for a in year:
    final_years.append(a.replace('Donated on',''))
# Saving in DataFrame
df = pd.DataFrame({"Dataset name": name, "Data type": type_1, "Task": task, "Attribute type": attribute, "No of instances": no_1, "No of attribute": no_attribute, "Year": final_years})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Iris,Tabular,Classification,Real,150,4,6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,4/30/1996
3,Wine,Tabular,Classification,"Integer, Real",178,13,6/30/1991
4,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,10/31/1995
...,...,...,...,...,...,...,...
652,Moral Reasoner,Domain-Theory,-,-,202,-,5/31/1994
653,Sattriya_Dance_Single_Hand_Gestures Dataset,Multivariate,Classification,-,1450,-,7/21/2019
654,EBL Domain Theories,-,-,-,-,-,-
655,TamilSentiMix,"Multivariate, Text",Classification,Categorical,15744,-,8/13/2023
656,TUNADROMD,Tabular,Classification,Integer,4465,242,6/20/2023

In [95]:
driver.close()